#home {
  color: #F1F8FD;
  // background-image: url('../../images/background.jpg');
  // width: 100vw;
  // height: 100vh;
  // opacity: 0.3;
  // position: relative;

  .display-name {
    font-size: 6rem;
    padding: 0 2rem;
    // position: absolute;
    // top: 40%;
    // opacity: 1;
    // z-index: 2;
    }

  .title-role {
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    padding: 0 2rem;
    // position: absolute;
    // top: 50%;
    // z-index: 2;
  }  
}