.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;

}
.modal-box {
  background: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 4rem;
}
.project-title {
  font-family: 'Playfair';
  font-size: 3rem;
  margin-bottom: 4rem;
}
.modal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.project-img img{
  width: 100%;
}

.project-info {
  padding: 0 3.5rem;
  border-left: 3px solid rgb(240, 239, 239);
  display: grid;
  font-size: 1.4rem;
}

.grid-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.icon {
  color:#6495ed;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #d26476;
  font-weight: 500;
  transition: color 0.5s ease;
}
a:hover {
  color: inherit;
}
.desc h3 {
  background: linear-gradient(to left, #6495ed 0%, #ffffff 50%);
  display: inline-block;
  padding: 0.25rem 1rem 0.25rem 0;
  border-radius: 0 20px 20px 0;
  margin-bottom: 1rem;
}
.desc p {
  font-size: 1.2rem;
}
.close-modal-btn {
  position: absolute;
  top: 2rem;
  right: 4rem;
  font-size: 2rem;
  padding: 5px 5px 0 5px;
  color: rgb(93, 93, 93);
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  transition: color 0.5s ease, backgraund-color 0.5s ease;
  border: transparent;
}

.close-modal-btn:hover {
  background-color: #d26476;
  color: #ffffff;
}



